<h1> What would you like to buy?</h1>
<button id='buy'>Buy</button>
<button id='no'><a href="/test/{{data.id}}">No thanks</a></button>

<div id='items'>
    <form method='POST' action="character/weapons/{{data.id}}?_method=PUT">
        <h3 name='item' value='assets'>Assets: 800G</h3>
        <input type='hidden' name='price' value='800'>
        <input type='hidden' name='money' value='{{data.gold}}'>
        <select name='quantity'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>

        </select>
        <button type='submit'>Buy</button>
    </form>
    <br>
    <form method='POST' action="character/weapons/{{data.id}}?_method=PUT">
        <h3 name='item' value='food'>Food: 250G</h3>
        <input type='hidden' name='price' value='250'>
        <input type='hidden' name='money' value='{{data.gold}}'>
        <select name='quantity'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>

        </select>
        <button type='submit'>Buy</button>
    </form>
    <br>
    <form method='POST' action="character/weapons/{{data.id}}?_method=PUT">
        <h3 name='item' value='potion'>Potion: 400G</h3>
        <input type='hidden' name='price' value='400'>
        <input type='hidden' name='money' value='{{data.gold}}'>
        <select name='quantity'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>

        </select>
        <button type='submit'>Buy</button>
    </form>
</div>