tezsting hp: {{data.hp}}
<button method="POST" action="/character/hp/{{data.id}}?_method=PUT" name='hp' value="yes">Use Potion</button>

<form method="POST" action='/character/hp/{{data.id}}?_method=PUT' class='button-size'>
    <input type="hidden" type="text" name="hp" value='yes'>
    <br> {{!-- enter eater name here --}}
    <button type="submit" class="btn btn-default red eat">eat</button>
</form>

<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="#">Gold: {{data.gold}}</a>
        <a href="#">Potions: {{data.potion}}</a>
        <a href="#">Assets: {{data.assets}}</a>
        <a href="#">Food: {{data.food}}</a>
    </div>
</div>

<script>
    function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>